{% load static %}
<link rel="stylesheet" href={%static "styles/style3.css"%}>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Set</title>
</head>
<body>
<div class="container1">
<h3 class="text-center">Password reset complete</h3>

<p>Your password has been set. You may go ahead and log in now.</p>
<div class="pic pic1">
	<img src="{% static 'images/img2.jpeg' %}" alt="Image">
</div>


<button class="btn btn1"><a href="/accounts/login" class="text-center" style="color: white;">Log in</a></button>
</div>
</body>
</html>