{% load static %}
<link rel="stylesheet" href={%static "styles/style2.css"%}>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Reset Password</title>

</head>
<body>

<div class="container1">
<h3 class="text-center">Enter new password</h3>

<p>Please enter your new password twice so we can verify you typed it in correctly.</p>
<br><br>

<form method="post">

	{{form.non_field_errors}}
{% csrf_token %}
{% for field in form %}
{{field.label_tag}}
{{ field }}
{{ field.help_text | safe }}
{% if field.errors %}
{{ field.errors }}
{% endif %}
{% endfor %}

	<input type="Submit" name="Update Password" class="btn">

</form>
</div>
</body>
</html>