{% load static %}
<link rel="stylesheet" href={%static "styles/style.css"%}>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Email</title>

</head>
<body>
	<div class="container">
<h3 class="text-center">Password reset</h3>

<p>Forgotten your password? Enter your email address below, and we’ll email instructions for setting a new one.</p>
<div class="pic">
	<img src="{% static 'images/img1.jpeg' %}" alt="Image">
</div>

<form method="post">

	{% csrf_token %}
	{{form.as_p}}
<!--	<input type="text" placeholder="Enter Email" class="form-control" name="otp" id="">-->
	<input type="Submit" name="Send email" class="btn">

</form>
</div>

</body>
</html>